@page
@model BlazorApp2.Areas.Auth.Pages.Account.Manage.Admin.UserIndexModel
@attribute [Authorize(Roles = "admin")]
@{
    ViewBag.Title = "Список пользователей";
    ViewData["ActivePage"] = ManageNavPages.AdminUsers;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<a asp-page="UserCreate">Добавить пользователя</a>

<table class="table">
    <tr><th>Email</th><th>Год</th><th></th></tr>
    @foreach (var user in Model.UserLists)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.Year</td>
            <td>
                <form asp-page-handler="Delete" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-page="UserEdit" asp-route-id="@user.Id">Изменить</a>
                    <button type="submit" class="btn btn-sm btn-danger" @(User.Identity.Name == user.UserName ? "disabled" : "")>
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>