@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        <MatMenu @ref="Menu" TargetForwardRef="@buttonForwardRef" Class="my_context_menu">
            <div class="my_gb_4a">
                <div class="my_gb_hb">@context.User.Identity.Name</div>
                <a href="/Auth/Account/Manage/" class="my_btn my_btn-20_20 my_btn_kek"><span>Управление аккаунтом IGI</span></a>
            </div>
            <div class="my_gb_Ab">
                <a class="my_btn my_btn-20_30"
                   href="/Auth/Account/logOut?returnUrl=/"
                   target="_top">Выйти</a>
            </div>
            <div class="my_gb_ob">
                <a class="my_gb_pb" target="_top">Политика конфиденциальности</a>
                <a class="my_gb_pb" target="_top">Условия использования</a>
            </div>
        </MatMenu>
        <MatIconButton Icon="favorite" OnClick="@OnOpenMenu" RefBack="@buttonForwardRef"></MatIconButton>
    </Authorized>
    <NotAuthorized>
        @*<form action="/Auth/Account/LoginFast" method="post" class="form-inline">
                <div class="form-group mb-2">
                    <input type="text" class="form-control" placeholder="User Name" id="Username" name="Username" />
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <input type="Password" class="form-control" placeholder="Password" id="Password" name="Password" />
                </div>
                    <input type="submit" class="btn btn-primary mb-2" value="Войти"/>
            </form>*@
        <MatButton Unelevated="true" @onclick="@RunOnClick">Войти</MatButton>
        @*<input type="text"
                   placeholder="User Name"
                   @bind="@Username" />
            &nbsp;&nbsp;
            <input type="password"
                   placeholder="Password"
                   @bind="@Password" />
            <a class="ml-md-auto btn btn-primary"
               href="/Auth/Account/loginFast?paramUsername=@Username&paramPassword=@Password"
               target="_top">Login</a>*@
    </NotAuthorized>
</AuthorizeView>
@code {
    ForwardRef buttonForwardRef = new ForwardRef();
    BaseMatMenu Menu;
    string Username = "";
    string Password = "";

    public void OnOpenMenu(MouseEventArgs e)
    {
        this.Menu.OpenAsync();
    }

    public void RunOnClick(MouseEventArgs e)
    {
        NavigationManager.NavigateTo("/Auth/Account/Login", true);
    }
}