<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorApp2</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick="@HideSideBar">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter" @onclick="@HideSideBar">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata" @onclick="@HideSideBar">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="UploadFastFilePage" @onclick="@HideSideBar">
                <span class="oi oi-cloud-download" aria-hidden="true"></span> Upload Data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="UploadFiles" @onclick="@HideSideBar">
                <span class="oi oi-cloud-download" aria-hidden="true"></span> Upload Data V2
            </NavLink>
        </li>
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="ListFiles" @onclick="@HideSideBar">
                        <span class="oi oi-cloud-upload" aria-hidden="true"></span> List Files
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>

    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    [Parameter]
    public bool SideBar { get; set; }
    [Parameter]
    public EventCallback<bool> SideBarChanged { get; set; }

    async Task HideSideBar()
    {
        SideBar = false;
        await SideBarChanged.InvokeAsync(SideBar);
    }

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
