@page "/counter"
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> _signInManager
@inject UserManager<User> _userManager
@inject IAuthorizationService AuthorizationService
@using Microsoft.AspNetCore.Http

<h1>Counter @text | @text2</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<br />
<table class="table">
    <tr><th>Email</th><th>Год</th><th></th></tr>
    @foreach (var user in users)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.Year</td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Изменить</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>

@code {
    List<User> users;
    string text = default;
    string text2 = default;

    //[CascadingParameter]
    //private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        users = _userManager.Users.ToList();
        text2 = text;
    }
    private int currentCount = 0;

    [Parameter]
    public int IncrementAmount { get; set; } = 1;

    protected async Task IncrementCount()
    {
        currentCount += IncrementAmount;
        User user = new User { Email = $"andrey{currentCount}@tut.by", UserName = $"andrey{currentCount}@tut.by", Year = currentCount };
        // добавляем пользователя
        var result = await _userManager.CreateAsync(user, $"Qwe`123{currentCount}");
        if (result.Succeeded)
        {
            var user3 = await _signInManager.UserManager.FindByEmailAsync(user.UserName);
            await _signInManager.SignInAsync(user3, false);

            //httpContextAccessor.HttpContext.

            //var user2 = (await authenticationStateTask).User;
            //await AuthorizationService.AuthorizeAsync(user2, "content-editor");
            // установка куки
            //await prov._signInManager.SignInAsync(user, true);
            //await _signInManager.SignInAsync(user, false);
            //await _signInManager.PasswordSignInAsync(user.Email, (currentCount * 100).ToString(), false, false);
            users = _userManager.Users.ToList();
            text = "OK";
        }
        else
        {
            text = "Bad";
        }
    }

}
