@page "/ListFiles"
@using System.IO;
@using Amazon.S3.Model;
@inject IHostingEnvironment _env;
@inject IS3Service _is3;
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<input @onchange="@CurrentDirChanged" />
<h3>@currentDir</h3>
<AuthorizeView>
    <Authorized>
        @if (S3ListFiles == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <MyBlazorGrid Items="@S3ListFiles" PageSize="10" Context="S3file" OnClickRow="GetGenUrl">
                <GridHeader>
                    <th>Name</th>
                    <th>Size</th>
                    <th>LastModified</th>
                    <th>Owner</th>
                </GridHeader>
                <GridRow>
                    <td scope="col">@S3file.Key</td>
                    <td scope="col">@S3file.Size</td>
                    <td scope="col">@S3file.LastModified</td>
                    <td scope="col">@S3file.Owner</td>
                </GridRow>
            </MyBlazorGrid>


        }
    </Authorized>
    <NotAuthorized>
        <h2>"Bad Guy"</h2>
    </NotAuthorized>
</AuthorizeView>


@code {
    IEnumerable<S3Object> S3ListFiles { get; set; }
    string currentDir = "";
    async Task CurrentDirChanged(ChangeEventArgs e)
    {
        currentDir = e.Value.ToString();
        await GetListFiles();
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await GetListFiles();
        foreach (S3Object entry in S3ListFiles)
        {
            Console.WriteLine("------------------------- key = {0} size = {1}", entry.Key, entry.Size);
        }
    }


    async Task<bool> GetIsAuth()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        return user.Identity.IsAuthenticated;
    }
    async Task<string> GetUserName()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        return user.Identity.Name;
    }

    async Task GetListFiles()
    {
        if (await GetIsAuth())
        {
            string userName = await GetUserName();
            S3ListFiles = await _is3.ListFilesAsync(userName, currentDir);
            Console.WriteLine("############ IS AUTHED");
        }
        else
        {
            S3ListFiles = new List<S3Object>();
        }
    }

    public async Task GetGenUrl(S3Object obj)
    {
        string url = _is3.GeneratePreSignedURL(obj.Key);
        //NavigationManager.NavigateTo(url, false);
        //await JsRuntime.InvokeAsync<object>("open", url, "_blank");
        await JsRuntime.InvokeAsync<object>("mydownloadFile", url);
    }
}
