@page "/fetchdata"

@using BlazorApp2.Data
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MyBlazorGrid Items="@forecasts" PageSize="4">
        <GridHeader>
            <th>Date</th>
            <th>TemperatureC</th>
            <th>TemperatureF</th>
            <th>Summary</th>
        </GridHeader>
        <GridRow>
            <td scope="col">@context.Date.ToShortDateString()</td>
            <td scope="col">@context.TemperatureC</td>
            <td scope="col">@context.TemperatureF</td>
            <td scope="col">@context.Summary</td>
        </GridRow>
    </MyBlazorGrid>
}

@code {
    WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
